<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Categorias</title>
</head>
<body>
{% if item %}
    <h1><a href="{% url 'index' %}">ykea</a>/<a href="{% url 'categories' %}">items</a>/<a href="#">{{ item.name }}</a> {% if request.user|stringformat:"s" == "AnonymousUser" %} |  <a href="{% url 'login' %}">Login</a>  |  <a href="{% url 'register' %}">Register</a> {% else %} |  {{ request.user }}  |  <a href="{% url 'logout' %}">Logout</a>{% endif %}</h1>
    {% if request.user|stringformat:"s" != "AnonymousUser" %}<h2><a href="{% url 'shoppingcart' %}">My cart</a> - current items ({{ number_items }})</h2>{% endif %}
    <img src="{{ item.featured_photo.url }}"/>
    <ul>
        <li>Name: {{ item.name }}</li>
        <li>Number: {{ item.item_number }}</li>
        <li>Description: {{ item.description }}</li>
        <li>Price: {{ item.price }}</li>
        <li>Is new?{% if item.is_new|stringformat:"s" == "True" %} New!!! {% else %} Old!! {% endif %}</li>
        <li>Size: {{ item.size }}</li>
        <li>Category: {{ item.category }}</li>
    </ul>
{% endif %}
</body>
</html>